.top-particles {
    position: absolute;
    bottom: 0;
    right: 0;
    border-collapse: collapse;
}

.top-particles, .top-particles tr, .top-particles td{
    border: 1px solid black;
}

.top-particles td{
    width: 250px;
}