.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  background-color: #8d8c8c;
  border-radius: 4px;
}

.controls .btn {
  margin: 10px;
  height: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
