.repetition-results-container {
  width: calc(94% - 20px);
  margin: 50px 3%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
}

.repetition-results-container .subtitle {
  font-size: 24px;
  padding-bottom: 20px;
}

.repetition-results {
  height: 450px;
  width: 100%;
}

.repetition-results .series.bar rect {
  height: 100px;
}

.repetition-results .axes g:first-of-type .ticks g:first-of-type {
  transform: translate3d(0px, -150px, 0px) !important;
}

.repetition-results .axes g:first-of-type .ticks g:last-of-type {
  transform: translate3d(0px, 60px, 0px) !important;
}
